# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
    <html lang="en">
     <head>
      <meta charset="UTF-8">
      <title="Htmlbasic"></title>
     </head>

     <body>

       <header>
         <h1>Basic html</h1>
         <button>Change title</button>
         <br>
       </header>

    <main>
        <aside>
            <p>Aside here</p>
        </aside>

        <section>
            <article>
                <br>
            <button>Say hi</button>
            <p>dfgdf</p>
            </article>
        </section>

        <section>
            <article>
                <br><br><br><br><br>
                <p><strong>COUNTER</strong></p>
                <br>
            <p>0</p>
            </article>
        </section>

     </main>

        <br><br><br><br><footer>End of website</footer>
  
     
    </body> 
</html>